.cast-info{
    padding: 50px;
    color: white;
    &__group-title{
        font-size: 1.7rem;
        font-weight: 700;
        margin-bottom: 2rem;
        margin-top: 2rem;
        &:first-child{
            margin-top: 0;
        }
    }
    &__list{
        font-size: 1.2rem;
    }
    &__crew{
        display: flex;
        margin-bottom: 0.9rem;
        li:first-child{
            margin-right: 100px;
            color: gray;
            width: 200px;
        }
        li:nth-child(2){
            color: gray;
        }
    }
}