.create-user{
    background: rgb(71,42,232);
    background: linear-gradient(14deg, rgba(71,42,232,1) 2%, rgba(95,37,204,1) 36%, rgba(14,3,29,1) 77%);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    &__top{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 2rem;
    }
    &__logo{
        background-size: 100% 100%;
        height: 22px;
        width: 129px;
        background-image: url(/img/logo.svg);
        transform: scale(.9);
        margin-bottom: 2rem;
    }
    &__title{
        font-size: 3rem;
        color: rgb(216, 208, 231);
    }
    &__form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__input-group{
        display: flex;
        justify-content: center;
        flex-direction: column;
        label{
            font-size: .8rem;
            margin-bottom: .3rem;
            color:rgb(216, 208, 231);
        }
    }
    &__user-img-border{
        width: 156px;
        height: 156px;
        position: relative;
        border-radius: 50%;
        background: linear-gradient(to right, red, purple);
        margin-right: 3rem;
        margin-bottom: 1rem;
    }
    &__user-img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__input-text{
        color: white;
        font-size: 1.3rem;
        border: none;
        border-bottom: 3px solid rgb(132, 0, 255);
        outline: none;
        background: transparent;
        width: 300px;
        padding: 10px 0;
        margin-bottom: 2rem;
        font-size: 1.3rem;
    }
    &__colors{
        display: flex;
        justify-content: space-between;

    }
    &__color{
        border-radius: 50%;
        height: 30px;
        width: 30px;
        cursor: pointer;
        transition: transform .3s ease-in-out;
        &--active{
            border: 2px solid white;
        }
        &:hover{
            transform: scale(1.5);
        }
    }
    &__buttons{
        margin-bottom: 5rem;
        text-align: center;
    }
    &__save, &__cancel{
        background: rgba(255, 255, 255, 0.2);
        color: white;
        border: none;
        border-radius: 20px;
        width: 200px;
        text-transform: uppercase;
        margin-right: 20px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.1rem;
        padding: 13px 0;
        transition: background 200ms ease-in-out;
    }
    &__save{
        transition: opacity 200ms ease-in-out;
        opacity: 0.5;
        &:hover{
            opacity: 1;
        }
    }
    &__cancel{
        &:hover{
            background: rgba(255, 255, 255, 0.1);
        }
    }
}
@media only screen and (max-width: 600px) {
    .create-user{
        &__form{
            flex-direction: column;
        }
        &__user-img-border{
            margin-right: 0;
        }
    }
}