
.login-user{
    background: rgb(71,42,232);
    background: linear-gradient(14deg, rgba(71,42,232,1) 2%, rgba(95,37,204,1) 36%, rgba(14,3,29,1) 77%);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    &__top{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 2rem;
    }
    &__logo{
        background-size: 100% 100%;
        height: 22px;
        width: 129px;
        background-image: url(/img/logo.svg);
        transform: scale(.9);
        margin-bottom: 2rem;
    }
    &__title{
        font-size: 3rem;
        color: rgb(216, 208, 231);
    }
    &__form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__user-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &:nth-child(n+2){
            margin-left: 2rem;
        }
    }
    &__user-img-border{
        width: 156px;
        height: 156px;
        position: relative;
        border-radius: 50%;
        background: linear-gradient(to right, red, purple);
        margin-bottom: 1rem;
    }
    &__user-img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__user-name{
        color: white;
        font-size: 1.3rem;
    }
    &__buttons{
        margin-bottom: 5rem;
        text-align: center;
    }
    &__add-adult, &__add-kid{
        background: rgba(255, 255, 255, 0.2);
        color: white;
        border: none;
        border-radius: 20px;
        width: 200px;
        text-transform: uppercase;
        margin-right: 20px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.1rem;
        padding: 13px 0;
        transition: background 200ms ease-in-out;
        &:hover{
            background: rgba(255, 255, 255, 0.1);
        }
    }
    &__manage-profiles{
        border: none;
        margin-top: 1.5em;
        text-transform: uppercase;
        background: none;
        font-size: 1.1rem;
        font-weight: bold;
        color: rgb(148, 127, 167);
        transition: color 200ms ease-in-out;
        cursor: pointer;
        &:hover{
            color: white;
        }
    }
}