$base-gray: rgb(30, 30, 30);
$text-gray: rgb(216, 208, 231);
$main-purple: rgb(132, 0, 255);
$gradient: linear-gradient(14deg, rgba(71,42,232,1) 2%, rgba(95,37,204,1) 36%, rgba(14,3,29,1) 77%);

$large-v-width: 400px;
$large-v-height: 600px;
$small-v-width: 240px;
$small-v-height: 360px;
$large-h-width: 700px;
$large-h-height: 394px;
$small-h-width: 500px;
$small-h-height: 350px;